{% extends 'base.html' %}
{% block body_block %}


    <div class="container ">
    
    {% if user.is_authenticated %}
        <div class="form-group">
            <h3> Change password:</h3>
            <form id="passwdchg" method="POST" action="{% url 'passwdchg' %}">
                {% csrf_token %}
                <p>
                    <input type="password" class="form-control" name="password" placeholder="new password" required="true">
                </p>
                <input type="submit" class="btn btn-outline-success" name="" value="Update">
            </form>
        </br>
        </br>
        
        </div>

        <script> 
            $('#passwdchg').submit( function( event ) {
              event.preventDefault();
              
              console.log("passwdchg form submitted!");
              //console.log(event);            
                   
              $.ajax({ // create an AJAX call...
                  data: $(this).serialize(), // get the form data
                  type: $(this).attr('method'), // GET or POST
                  url: $(this).attr('action'), // the file to call
                  success: function(response) { // on success..                    
                    window.location = "{% url 'settings' %}";
                  },
  
                  error : function(xhr,errmsg,err) {                  
                    console.log(xhr.status + ": " + xhr.responseText);
                  }
                });
              return false;
            });    

          </script>

    {% endif %}

  </div>
{% endblock %}